# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Object directory
obj/

# Ignore png files
*.png

# Except for the ones inside the template folder
!templates/*.png

!Makefile
!LICENSE
